//this program is made by dhyan on 4/12/2022
#include <stdio.h>

void main() {
    
    printf("Rectangle Area Calculatar");
    int a,b,c;
    
    printf("\nPrint value a: ");
    scanf("%d",&a);
    
    printf("Print value b: ");
    scanf("%d",&b);
    
    c=a*b;
    
    printf("\narea of rectangle is : ");
    printf("%d",c);

}
